# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env
env/

# Editor files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.tmp
*.swp
*~
